body{
    background: blanchedalmond;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.clock{
    background: rgb(191, 221, 108);
    width: 50rem;
    height: 15rem;
    border: 7px solid rgb(53, 51, 51);
    border-radius: 10px;
    padding: 10px;

}
.clock-face{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}
.display{
    width: 33%;
    height: 100%;
    border: 1x ridge black;
    position: relative;
    margin: 2px;
    text-align: center;
    text-justify: inter-word;
}
.number{
    align-items: center;
    font-size: 120px;
    color: rgb(78, 76, 76);
    position: absolute;
    top: 20%;
    left: 20%;
}